*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    width: 100%;
    height: 100vh;
    background-color: rgb(2, 9, 31);
    display: flex;
    justify-content: center;
    align-items: center;

}

.container {
    width: 800px;
    height: 80vh;
    background-color:rgb(1, 14, 54);
    border-radius: 30px;
    box-shadow: 15px 15px 15px rgb(6, 14, 40);
}

.main{
    position: relative;
    height: 70%;
    width: 100%;
    overflow: hidden;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.main img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.weather{
 
 position: relative;
 z-index: 1;
 width: 100%;
 height: 100%;
 background-color: rgb(131, 160, 246);
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 transition-property: all;
}

.location{
    color: aliceblue;
    text-align: center;
    font-size: 1.2em;
}

.temperature{
    color: aliceblue;
    font-size: 4em;
    text-align: center;
    font-weight: 900S;
}

.info{
    color: aliceblue;
}

.search{
    margin-bottom: 1em;
    text-align: center;
}

.search input{
    background-color: black(138, 97, 97);
    outline: none;
    border: none;
    border-radius: 20px;
    padding: 1em;
    color: black;
    font-size: 0.8em;
    text-align: center;
}

.custom-button {
    background-color: #007bff; 

    color: #ffffff; 
    padding: 10px 20px; 
    border: none;
    border-radius: 5px; 
    cursor: pointer; 
    margin-left: 30px;
  }
  
  .custom-button:hover {
    background-color: #0056b3; /* Darker blue on hover */
  }

  .span{
    align-items: last baseline;
    text-align: left;
  }